<div class="col-10 offset-1">
  <h1>About Sky Fix</h1>

  <p>
    Sky Fix was built by Thet Htut Oo from SkyPlatform Company.
    I use Ruby on Rails, Bootstrap 4, Jquery to build this.
    With this report system, we can track what we are doing and fix our aladdin platform problems.
  </p>
  <br />
  <p>
    Next version of this app will be released soon. It will include
    user authentication, photo uploading, commenting and many other functions.
    It will be released in August.
  </p>
  <p>
   Future apps : Online Education Platform, Tax Calculating App, Social Dating Web App and Android App.
    </p>


    <div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'tho.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Thet Htut Oo</h2>
    <br />
    <p>
Thet Htut OO is a passionate web developer who loves Ruby on Rails and Python. Right now, he is creating
E-platform app and Food ordering app. They will be available in November 2017.    </p>
  </div>
</div>
<br class="clear" />
  </div>
